.container {
  padding: 0.5rem;
  width: 50vmin;
  height: 50vmin;
  background: #dbe9ff;
  border-radius: 0.5rem;
  user-select: none;
}

.container td {
  width: 20px;
  height: 20px;
  background: #acf;
  border-radius: 0.25rem;
  padding: 4px;
}

.container td.selected {
  background: #5f9efc;
}

.selection-area {
  background: #4f90f22d;
  border: 1px solid #4f90f2;
}

table {
  border-collapse: separate;
  border-spacing: 0.5em;
}
