tbody td {
  width: 16px;
  height: 24px;
  background: #acf;
  border-radius: 2px;
}

tbody td.selected {
  background: #5f9efc;
}

.selection-area {
  background: #4f90f22d;
  border: 1px solid #4f90f2;
}

table {
  padding: 0.5rem;
  background: #dbe9ff;
  border-radius: 0.5rem;
  user-select: none;
}
